{% load staticfiles %}
<!-- komponen css -->
<link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'components/font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'components/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">

<link rel="stylesheet" href="{% static 'components/admin-lte/dist/css/AdminLTE.css' %}">

<link rel="stylesheet" href="{% static 'components/admin-lte/dist/css/skins/_all-skins.min.css' %}">

<link rel="stylesheet" href="{% static 'components/datatables.net-bs/css/dataTables.bootstrap.css' %}">